.Above {
  background: url(sprite.png) -296px -518px no-repeat;
  display: block;
  width: 42px;
  height: 25px;
}

.Afro {
  background: url(sprite.png) -343px -270px no-repeat;
  display: block;
  width: 48px;
  height: 38px;
}

.AllTheGuy {
  background: url(sprite.png) -745px 0px no-repeat;
  display: block;
  width: 36px;
  height: 46px;
}

.Angry {
  background: url(sprite.png) -49px -663px no-repeat;
  display: block;
  width: 41px;
  height: 44px;
}

.AreYouKiddingMe {
  background: url(sprite.png) 0px -311px no-repeat;
  display: block;
  width: 46px;
  height: 50px;
}

.AsianHair {
  background: url(sprite.png) -187px -259px no-repeat;
  display: block;
  width: 48px;
  height: 43px;
}

.AsianTroll {
  background: url(sprite.png) -237px -259px no-repeat;
  display: block;
  width: 48px;
  height: 43px;
}

.AwwYeah {
  background: url(sprite.png) -205px -104px no-repeat;
  display: block;
  width: 62px;
  height: 48px;
}

.BabyTroll {
  background: url(sprite.png) -287px -259px no-repeat;
  display: block;
  width: 48px;
  height: 42px;
}

.BadApple {
  background: url(sprite.png) -98px -311px no-repeat;
  display: block;
  width: 48px;
  height: 50px;
}

.Baww {
  background: url(sprite.png) -98px -618px no-repeat;
  display: block;
  width: 45px;
  height: 43px;
}

.BeerGuy {
  background: url(sprite.png) -338px -467px no-repeat;
  display: block;
  width: 48px;
  height: 41px;
}

.BigGrin {
  background: url(sprite.png) -545px 0px no-repeat;
  display: block;
  width: 48px;
  height: 42px;
}

.Black {
  background: url(sprite.png) -148px -311px no-repeat;
  display: block;
  width: 48px;
  height: 50px;
}

.BlackGuy {
  background: url(sprite.png) -145px -618px no-repeat;
  display: block;
  width: 44px;
  height: 37px;
}

.BlackGuyBeaten {
  background: url(sprite.png) -228px -663px no-repeat;
  display: block;
  width: 41px;
  height: 38px;
}

.BlackHair {
  background: url(sprite.png) -695px -135px no-repeat;
  display: block;
  width: 47px;
  height: 44px;
}

.BlackRage {
  background: url(sprite.png) 0px -52px no-repeat;
  display: block;
  width: 67px;
  height: 49px;
}

.Blond {
  background: url(sprite.png) -198px -311px no-repeat;
  display: block;
  width: 48px;
  height: 50px;
}

.Blond2 {
  background: url(sprite.png) -248px -311px no-repeat;
  display: block;
  width: 48px;
  height: 50px;
}

.BlondHair {
  background: url(sprite.png) -271px -663px no-repeat;
  display: block;
  width: 41px;
  height: 38px;
}

.Brunette {
  background: url(sprite.png) -298px -311px no-repeat;
  display: block;
  width: 48px;
  height: 50px;
}

.Bwah {
  background: url(sprite.png) -545px -44px no-repeat;
  display: block;
  width: 48px;
  height: 40px;
}

.Canadian {
  background: url(sprite.png) -495px -52px no-repeat;
  display: block;
  width: 41px;
  height: 49px;
}

.CerealGuy {
  background: url(sprite.png) -545px -86px no-repeat;
  display: block;
  width: 48px;
  height: 42px;
}

.CerealSpitting {
  background: url(sprite.png) -545px -130px no-repeat;
  display: block;
  width: 48px;
  height: 31px;
}

.ChallengeAccepted {
  background: url(sprite.png) -545px -163px no-repeat;
  display: block;
  width: 48px;
  height: 37px;
}

.ChallengeCompleted {
  background: url(sprite.png) -348px -311px no-repeat;
  display: block;
  width: 37px;
  height: 50px;
}

.ChallengeConsidered {
  background: url(sprite.png) -545px -202px no-repeat;
  display: block;
  width: 48px;
  height: 40px;
}

.ChallengeDeclined {
  background: url(sprite.png) -236px -568px no-repeat;
  display: block;
  width: 46px;
  height: 38px;
}

.ChristmasHat {
  background: url(sprite.png) -545px -244px no-repeat;
  display: block;
  width: 48px;
  height: 35px;
}

.ChuckTesta {
  background: url(sprite.png) -545px -281px no-repeat;
  display: block;
  width: 48px;
  height: 48px;
}

.CleanAllTheThings {
  background: url(sprite.png) -545px -331px no-repeat;
  display: block;
  width: 48px;
  height: 31px;
}

.CleanFuckYea {
  background: url(sprite.png) -783px -82px no-repeat;
  display: block;
  width: 38px;
  height: 36px;
}

.CloseEnough {
  background: url(sprite.png) -314px -663px no-repeat;
  display: block;
  width: 39px;
  height: 36px;
}

.ComputerAlone {
  background: url(sprite.png) 0px 0px no-repeat;
  display: block;
  width: 134px;
  height: 50px;
}

.Concentrated {
  background: url(sprite.png) -783px -120px no-repeat;
  display: block;
  width: 37px;
  height: 38px;
}

.Concentrated2 {
  background: url(sprite.png) -783px -200px no-repeat;
  display: block;
  width: 36px;
  height: 37px;
}

.ConflictingEmotions {
  background: url(sprite.png) -495px -103px no-repeat;
  display: block;
  width: 26px;
  height: 49px;
}

.Dejected {
  background: url(sprite.png) -545px -364px no-repeat;
  display: block;
  width: 48px;
  height: 44px;
}

.Demoman {
  background: url(sprite.png) -69px -52px no-repeat;
  display: block;
  width: 61px;
  height: 49px;
}

.Derrrp {
  background: url(sprite.png) -695px -181px no-repeat;
  display: block;
  width: 47px;
  height: 47px;
}

.DeskFlip {
  background: url(sprite.png) -545px -410px no-repeat;
  display: block;
  width: 48px;
  height: 48px;
}

.Determined {
  background: url(sprite.png) -401px 0px no-repeat;
  display: block;
  width: 45px;
  height: 50px;
}

.Devil {
  background: url(sprite.png) -495px -154px no-repeat;
  display: block;
  width: 39px;
  height: 49px;
}

.DudeComeOn {
  background: url(sprite.png) -545px -460px no-repeat;
  display: block;
  width: 45px;
  height: 48px;
}

.EWBTE {
  background: url(sprite.png) -695px -230px no-repeat;
  display: block;
  width: 47px;
  height: 38px;
}

.EWBTE2 {
  background: url(sprite.png) -470px -568px no-repeat;
  display: block;
  width: 43px;
  height: 34px;
}

.Engineer {
  background: url(sprite.png) -138px -103px no-repeat;
  display: block;
  width: 62px;
  height: 50px;
}

.EpicBeardGuy {
  background: url(sprite.png) -343px -220px no-repeat;
  display: block;
  width: 51px;
  height: 48px;
}

.EpicFailGuy {
  background: url(sprite.png) -745px -192px no-repeat;
  display: block;
  width: 22px;
  height: 42px;
}

.ExcitedTroll {
  background: url(sprite.png) -695px -270px no-repeat;
  display: block;
  width: 47px;
  height: 44px;
}

.EyeBleed {
  background: url(sprite.png) -401px -52px no-repeat;
  display: block;
  width: 43px;
  height: 50px;
}

.FFFUUU {
  background: url(sprite.png) -401px -156px no-repeat;
  display: block;
  width: 30px;
  height: 50px;
}

.FYeaStar {
  background: url(sprite.png) -396px -663px no-repeat;
  display: block;
  width: 39px;
  height: 36px;
}

.Facepalm {
  background: url(sprite.png) 0px -518px no-repeat;
  display: block;
  width: 48px;
  height: 48px;
}

.FairEnough {
  background: url(sprite.png) -495px -205px no-repeat;
  display: block;
  width: 45px;
  height: 49px;
}

.FalseStory {
  background: url(sprite.png) -401px -104px no-repeat;
  display: block;
  width: 41px;
  height: 50px;
}

.FapAccepted {
  background: url(sprite.png) -495px -256px no-repeat;
  display: block;
  width: 36px;
  height: 49px;
}

.FapFap {
  background: url(sprite.png) -138px -663px no-repeat;
  display: block;
  width: 43px;
  height: 42px;
}

.FeelLikeANinja {
  background: url(sprite.png) -388px -467px no-repeat;
  display: block;
  width: 48px;
  height: 40px;
}

.FemaleHappy {
  background: url(sprite.png) -404px -709px no-repeat;
  display: block;
  width: 41px;
  height: 40px;
}

.FemaleMilk {
  background: url(sprite.png) -495px -307px no-repeat;
  display: block;
  width: 44px;
  height: 49px;
}

.FemaleRage {
  background: url(sprite.png) -284px -568px no-repeat;
  display: block;
  width: 45px;
  height: 38px;
}

.FemaleRage2 {
  background: url(sprite.png) -695px -316px no-repeat;
  display: block;
  width: 47px;
  height: 44px;
}

.FemaleRetarded {
  background: url(sprite.png) -50px -618px no-repeat;
  display: block;
  width: 46px;
  height: 43px;
}

.ForeverAlone {
  background: url(sprite.png) -362px -709px no-repeat;
  display: block;
  width: 40px;
  height: 42px;
}

.ForeverAloneExcited {
  background: url(sprite.png) -401px -208px no-repeat;
  display: block;
  width: 45px;
  height: 50px;
}

.ForeverDontCare {
  background: url(sprite.png) -401px -260px no-repeat;
  display: block;
  width: 44px;
  height: 50px;
}

.Freddie {
  background: url(sprite.png) -783px -278px no-repeat;
  display: block;
  width: 20px;
  height: 36px;
}

.French {
  background: url(sprite.png) -490px -709px no-repeat;
  display: block;
  width: 40px;
  height: 40px;
}

.FuckYea {
  background: url(sprite.png) -355px -663px no-repeat;
  display: block;
  width: 39px;
  height: 36px;
}

.FuckYeaFemale {
  background: url(sprite.png) -783px -316px no-repeat;
  display: block;
  width: 30px;
  height: 32px;
}

.FullPanel {
  background: url(sprite.png) -136px 0px no-repeat;
  display: block;
  width: 67px;
  height: 50px;
}

.GTFO {
  background: url(sprite.png) -378px -568px no-repeat;
  display: block;
  width: 44px;
  height: 34px;
}

.Gasp {
  background: url(sprite.png) -136px -52px no-repeat;
  display: block;
  width: 67px;
  height: 44px;
}

.Gay {
  background: url(sprite.png) 0px -363px no-repeat;
  display: block;
  width: 47px;
  height: 50px;
}

.Genius {
  background: url(sprite.png) -438px -467px no-repeat;
  display: block;
  width: 48px;
  height: 40px;
}

.Gentlemen {
  background: url(sprite.png) -695px -362px no-repeat;
  display: block;
  width: 47px;
  height: 37px;
}

.GirlFapFap {
  background: url(sprite.png) -49px -363px no-repeat;
  display: block;
  width: 45px;
  height: 50px;
}

.Grandma {
  background: url(sprite.png) -574px -709px no-repeat;
  display: block;
  width: 39px;
  height: 38px;
}

.GrandmaInTheDark {
  background: url(sprite.png) -695px -401px no-repeat;
  display: block;
  width: 47px;
  height: 44px;
}

.GrannyTroll {
  background: url(sprite.png) -50px -518px no-repeat;
  display: block;
  width: 48px;
  height: 46px;
}

.GrayHair {
  background: url(sprite.png) -558px -568px no-repeat;
  display: block;
  width: 39px;
  height: 30px;
}

.GreatScott {
  background: url(sprite.png) -96px -363px no-repeat;
  display: block;
  width: 48px;
  height: 50px;
}

.Happy {
  background: url(sprite.png) -181px -709px no-repeat;
  display: block;
  width: 44px;
  height: 45px;
}

.HatAndMonocle {
  background: url(sprite.png) -695px -447px no-repeat;
  display: block;
  width: 26px;
  height: 47px;
}

.HatersGonnaHate {
  background: url(sprite.png) -495px -358px no-repeat;
  display: block;
  width: 42px;
  height: 49px;
}

.Heavy {
  background: url(sprite.png) -207px -207px no-repeat;
  display: block;
  width: 61px;
  height: 47px;
}

.HeckNo {
  background: url(sprite.png) -595px 0px no-repeat;
  display: block;
  width: 48px;
  height: 48px;
}

.Hehehe {
  background: url(sprite.png) -92px -663px no-repeat;
  display: block;
  width: 44px;
  height: 44px;
}

.HerpDerp {
  background: url(sprite.png) -146px -363px no-repeat;
  display: block;
  width: 48px;
  height: 50px;
}

.High {
  background: url(sprite.png) -495px -409px no-repeat;
  display: block;
  width: 43px;
  height: 49px;
}

.Hip {
  background: url(sprite.png) 0px -467px no-repeat;
  display: block;
  width: 48px;
  height: 49px;
}

.Hitler {
  background: url(sprite.png) -196px -363px no-repeat;
  display: block;
  width: 48px;
  height: 50px;
}

.Horror {
  background: url(sprite.png) -783px 0px no-repeat;
  display: block;
  width: 38px;
  height: 39px;
}

.Huh {
  background: url(sprite.png) -246px -363px no-repeat;
  display: block;
  width: 42px;
  height: 50px;
}

.ILied {
  background: url(sprite.png) -343px 0px no-repeat;
  display: block;
  width: 56px;
  height: 50px;
}

.IamDisappointed {
  background: url(sprite.png) -745px -236px no-repeat;
  display: block;
  width: 29px;
  height: 42px;
}

.JackieChan {
  background: url(sprite.png) -595px -50px no-repeat;
  display: block;
  width: 48px;
  height: 30px;
}

.LOL {
  background: url(sprite.png) -695px -496px no-repeat;
  display: block;
  width: 47px;
  height: 35px;
}

.LadyFreddie {
  background: url(sprite.png) -448px -364px no-repeat;
  display: block;
  width: 26px;
  height: 49px;
}

.Later {
  background: url(sprite.png) 0px -103px no-repeat;
  display: block;
  width: 67px;
  height: 50px;
}

.Laughing {
  background: url(sprite.png) -50px -467px no-repeat;
  display: block;
  width: 46px;
  height: 49px;
}

.Left {
  background: url(sprite.png) -424px -568px no-repeat;
  display: block;
  width: 44px;
  height: 34px;
}

.LikeaLady {
  background: url(sprite.png) -595px -82px no-repeat;
  display: block;
  width: 48px;
  height: 46px;
}

.LongBlackHair1 {
  background: url(sprite.png) -290px -363px no-repeat;
  display: block;
  width: 48px;
  height: 50px;
}

.LongBlackHair2 {
  background: url(sprite.png) -98px -467px no-repeat;
  display: block;
  width: 48px;
  height: 49px;
}

.Manymonths {
  background: url(sprite.png) -69px -103px no-repeat;
  display: block;
  width: 67px;
  height: 50px;
}

.MeGusta {
  background: url(sprite.png) 0px -709px no-repeat;
  display: block;
  width: 46px;
  height: 46px;
}

.MeGustaCreepy {
  background: url(sprite.png) -227px -709px no-repeat;
  display: block;
  width: 45px;
  height: 45px;
}

.Meanwhile {
  background: url(sprite.png) -205px 0px no-repeat;
  display: block;
  width: 67px;
  height: 50px;
}

.Medic {
  background: url(sprite.png) 0px -259px no-repeat;
  display: block;
  width: 61px;
  height: 50px;
}

.Melvin {
  background: url(sprite.png) -745px -280px no-repeat;
  display: block;
  width: 36px;
  height: 40px;
}

.MelvinBowTie {
  background: url(sprite.png) -250px -518px no-repeat;
  display: block;
  width: 44px;
  height: 26px;
}

.MelvinGlasses {
  background: url(sprite.png) -595px -130px no-repeat;
  display: block;
  width: 48px;
  height: 15px;
}

.MelvinHair {
  background: url(sprite.png) -595px -147px no-repeat;
  display: block;
  width: 48px;
  height: 16px;
}

.Milk {
  background: url(sprite.png) -595px -165px no-repeat;
  display: block;
  width: 39px;
  height: 48px;
}

.MotherofGod {
  background: url(sprite.png) -340px -363px no-repeat;
  display: block;
  width: 44px;
  height: 50px;
}

.MouthOpen {
  background: url(sprite.png) -595px -215px no-repeat;
  display: block;
  width: 48px;
  height: 46px;
}

.Muchlater {
  background: url(sprite.png) -205px -52px no-repeat;
  display: block;
  width: 67px;
  height: 50px;
}

.NO {
  background: url(sprite.png) -448px -52px no-repeat;
  display: block;
  width: 42px;
  height: 50px;
}

.NeilDegrasseTyson {
  background: url(sprite.png) -386px -363px no-repeat;
  display: block;
  width: 47px;
  height: 50px;
}

.NeverAlone {
  background: url(sprite.png) -448px 0px no-repeat;
  display: block;
  width: 45px;
  height: 50px;
}

.NewspaperGuy {
  background: url(sprite.png) -695px -533px no-repeat;
  display: block;
  width: 47px;
  height: 35px;
}

.NewspaperGuyTear {
  background: url(sprite.png) -401px -312px no-repeat;
  display: block;
  width: 45px;
  height: 49px;
}

.NoHomo {
  background: url(sprite.png) 0px -415px no-repeat;
  display: block;
  width: 48px;
  height: 50px;
}

.NoneoftheThings {
  background: url(sprite.png) -448px -104px no-repeat;
  display: block;
  width: 39px;
  height: 50px;
}

.NotBad {
  background: url(sprite.png) -595px -263px no-repeat;
  display: block;
  width: 48px;
  height: 42px;
}

.NotOkay {
  background: url(sprite.png) -148px -467px no-repeat;
  display: block;
  width: 44px;
  height: 49px;
}

.NotOkayAtAll {
  background: url(sprite.png) -448px -156px no-repeat;
  display: block;
  width: 43px;
  height: 50px;
}

.NotSureIfGusta {
  background: url(sprite.png) -595px -341px no-repeat;
  display: block;
  width: 45px;
  height: 48px;
}

.NothingToDoHere {
  background: url(sprite.png) -595px -307px no-repeat;
  display: block;
  width: 48px;
  height: 32px;
}

.OMGRun {
  background: url(sprite.png) -595px -441px no-repeat;
  display: block;
  width: 48px;
  height: 28px;
}

.OMGRunBlack {
  background: url(sprite.png) -595px -471px no-repeat;
  display: block;
  width: 48px;
  height: 36px;
}

.OMGRunBlonde {
  background: url(sprite.png) -595px -509px no-repeat;
  display: block;
  width: 48px;
  height: 36px;
}

.OhGodWhy {
  background: url(sprite.png) -448px -208px no-repeat;
  display: block;
  width: 39px;
  height: 50px;
}

.Okay {
  background: url(sprite.png) -595px -391px no-repeat;
  display: block;
  width: 46px;
  height: 48px;
}

.OkayGuy {
  background: url(sprite.png) -448px -260px no-repeat;
  display: block;
  width: 24px;
  height: 50px;
}

.OkayILied {
  background: url(sprite.png) -448px -312px no-repeat;
  display: block;
  width: 36px;
  height: 50px;
}

.OohLaLa {
  background: url(sprite.png) -50px -415px no-repeat;
  display: block;
  width: 33px;
  height: 50px;
}

.OperaHat {
  background: url(sprite.png) -331px -568px no-repeat;
  display: block;
  width: 45px;
  height: 36px;
}

.OriginalRage {
  background: url(sprite.png) -343px -97px no-repeat;
  display: block;
  width: 55px;
  height: 43px;
}

.OriginalTroll {
  background: url(sprite.png) -237px -618px no-repeat;
  display: block;
  width: 39px;
  height: 32px;
}

.OverIt {
  background: url(sprite.png) -100px -518px no-repeat;
  display: block;
  width: 48px;
  height: 43px;
}

.PFFT {
  background: url(sprite.png) -85px -415px no-repeat;
  display: block;
  width: 26px;
  height: 50px;
}

.PedoSeal {
  background: url(sprite.png) 0px -568px no-repeat;
  display: block;
  width: 48px;
  height: 48px;
}

.Pedobear {
  background: url(sprite.png) -745px -48px no-repeat;
  display: block;
  width: 26px;
  height: 46px;
}

.Pfftch {
  background: url(sprite.png) -274px -103px no-repeat;
  display: block;
  width: 65px;
  height: 50px;
}

.PhoenixWright {
  background: url(sprite.png) -488px -467px no-repeat;
  display: block;
  width: 48px;
  height: 26px;
}

.Pig {
  background: url(sprite.png) -183px -663px no-repeat;
  display: block;
  width: 43px;
  height: 39px;
}

.PokerFace {
  background: url(sprite.png) -48px -709px no-repeat;
  display: block;
  width: 44px;
  height: 46px;
}

.PokerFace2 {
  background: url(sprite.png) -113px -415px no-repeat;
  display: block;
  width: 40px;
  height: 50px;
}

.Prrrr {
  background: url(sprite.png) -783px -160px no-repeat;
  display: block;
  width: 37px;
  height: 38px;
}

.PukeRainbows {
  background: url(sprite.png) -695px -570px no-repeat;
  display: block;
  width: 47px;
  height: 36px;
}

.Pyro {
  background: url(sprite.png) -343px -52px no-repeat;
  display: block;
  width: 56px;
  height: 43px;
}

.Rage1 {
  background: url(sprite.png) -343px -142px no-repeat;
  display: block;
  width: 55px;
  height: 44px;
}

.Rage2 {
  background: url(sprite.png) -63px -259px no-repeat;
  display: block;
  width: 60px;
  height: 48px;
}

.RedEyes {
  background: url(sprite.png) -695px -608px no-repeat;
  display: block;
  width: 47px;
  height: 46px;
}

.RedditAlien {
  background: url(sprite.png) -745px -96px no-repeat;
  display: block;
  width: 34px;
  height: 46px;
}

.RetardDog {
  background: url(sprite.png) -94px -709px no-repeat;
  display: block;
  width: 37px;
  height: 46px;
}

.Right {
  background: url(sprite.png) -150px -518px no-repeat;
  display: block;
  width: 48px;
  height: 38px;
}

.SadTroll {
  background: url(sprite.png) -515px -568px no-repeat;
  display: block;
  width: 41px;
  height: 32px;
}

.Scout {
  background: url(sprite.png) -274px -207px no-repeat;
  display: block;
  width: 63px;
  height: 50px;
}

.ScumbagSteveHat {
  background: url(sprite.png) -200px -518px no-repeat;
  display: block;
  width: 48px;
  height: 30px;
}

.Shaking {
  background: url(sprite.png) -133px -709px no-repeat;
  display: block;
  width: 46px;
  height: 45px;
}

.Shocked {
  background: url(sprite.png) 0px -663px no-repeat;
  display: block;
  width: 47px;
  height: 44px;
}

.Shoop {
  background: url(sprite.png) -50px -568px no-repeat;
  display: block;
  width: 34px;
  height: 48px;
}

.SideMouth {
  background: url(sprite.png) -194px -467px no-repeat;
  display: block;
  width: 48px;
  height: 49px;
}

.SlightlyFabricated {
  background: url(sprite.png) -86px -568px no-repeat;
  display: block;
  width: 48px;
  height: 47px;
}

.Smile {
  background: url(sprite.png) -615px -709px no-repeat;
  display: block;
  width: 39px;
  height: 38px;
}

.Smile2 {
  background: url(sprite.png) -447px -709px no-repeat;
  display: block;
  width: 41px;
  height: 40px;
}

.Sniper {
  background: url(sprite.png) -207px -155px no-repeat;
  display: block;
  width: 62px;
  height: 50px;
}

.SoClose {
  background: url(sprite.png) -136px -568px no-repeat;
  display: block;
  width: 48px;
  height: 46px;
}

.SoMuchWin {
  background: url(sprite.png) -274px -709px no-repeat;
  display: block;
  width: 43px;
  height: 45px;
}

.SociallyAwkwardPenguin {
  background: url(sprite.png) -745px -144px no-repeat;
  display: block;
  width: 32px;
  height: 46px;
}

.Soldier {
  background: url(sprite.png) -274px -155px no-repeat;
  display: block;
  width: 64px;
  height: 50px;
}

.SonMeGusta {
  background: url(sprite.png) -204px -415px no-repeat;
  display: block;
  width: 45px;
  height: 50px;
}

.SoonComputer {
  background: url(sprite.png) -343px -188px no-repeat;
  display: block;
  width: 53px;
  height: 30px;
}

.SpiderpMan {
  background: url(sprite.png) -251px -415px no-repeat;
  display: block;
  width: 35px;
  height: 50px;
}

.Spy {
  background: url(sprite.png) -125px -259px no-repeat;
  display: block;
  width: 60px;
  height: 47px;
}

.Stoned {
  background: url(sprite.png) -645px 0px no-repeat;
  display: block;
  width: 48px;
  height: 48px;
}

.StopItSeriously {
  background: url(sprite.png) -645px -50px no-repeat;
  display: block;
  width: 48px;
  height: 40px;
}

.StopItYou {
  background: url(sprite.png) -191px -618px no-repeat;
  display: block;
  width: 44px;
  height: 35px;
}

.StraightFace {
  background: url(sprite.png) -783px -239px no-repeat;
  display: block;
  width: 35px;
  height: 37px;
}

.StrawberryGuy {
  background: url(sprite.png) -288px -415px no-repeat;
  display: block;
  width: 45px;
  height: 50px;
}

.Surprised {
  background: url(sprite.png) -645px -92px no-repeat;
  display: block;
  width: 48px;
  height: 46px;
}

.Sweaty {
  background: url(sprite.png) -319px -709px no-repeat;
  display: block;
  width: 41px;
  height: 43px;
}

.SweetJesus {
  background: url(sprite.png) -645px -140px no-repeat;
  display: block;
  width: 48px;
  height: 48px;
}

.TheAnnoyingOrange {
  background: url(sprite.png) -645px -190px no-repeat;
  display: block;
  width: 48px;
  height: 45px;
}

.TheSaddest {
  background: url(sprite.png) -244px -467px no-repeat;
  display: block;
  width: 42px;
  height: 49px;
}

.Thenextday3 {
  background: url(sprite.png) 0px -155px no-repeat;
  display: block;
  width: 67px;
  height: 50px;
}

.Thoughtful {
  background: url(sprite.png) -645px -237px no-repeat;
  display: block;
  width: 45px;
  height: 48px;
}

.Three_days_later {
  background: url(sprite.png) -69px -155px no-repeat;
  display: block;
  width: 67px;
  height: 50px;
}

.Threeweekslater {
  background: url(sprite.png) -138px -155px no-repeat;
  display: block;
  width: 67px;
  height: 50px;
}

.Troll {
  background: url(sprite.png) -532px -709px no-repeat;
  display: block;
  width: 40px;
  height: 40px;
}

.TrollDad {
  background: url(sprite.png) -335px -415px no-repeat;
  display: block;
  width: 37px;
  height: 50px;
}

.TrollDadFull {
  background: url(sprite.png) -374px -415px no-repeat;
  display: block;
  width: 45px;
  height: 50px;
}

.TrollDadJump {
  background: url(sprite.png) -421px -415px no-repeat;
  display: block;
  width: 34px;
  height: 50px;
}

.TrollDadJump {
  background: url(sprite.png) -457px -415px no-repeat;
  display: block;
  width: 35px;
  height: 49px;
}

.TrueStory {
  background: url(sprite.png) -645px -287px no-repeat;
  display: block;
  width: 48px;
  height: 47px;
}

.Twelve_seconds_later {
  background: url(sprite.png) 0px -207px no-repeat;
  display: block;
  width: 67px;
  height: 50px;
}

.Two_hours_later {
  background: url(sprite.png) -69px -207px no-repeat;
  display: block;
  width: 67px;
  height: 50px;
}

.WaitAMinute {
  background: url(sprite.png) -783px -41px no-repeat;
  display: block;
  width: 38px;
  height: 39px;
}

.Wat {
  background: url(sprite.png) -645px -336px no-repeat;
  display: block;
  width: 46px;
  height: 48px;
}

.WatchingYou {
  background: url(sprite.png) -645px -386px no-repeat;
  display: block;
  width: 48px;
  height: 40px;
}

.WatermelonMan {
  background: url(sprite.png) -645px -428px no-repeat;
  display: block;
  width: 48px;
  height: 43px;
}

.WeGotABadassOverHere {
  background: url(sprite.png) -138px -207px no-repeat;
  display: block;
  width: 67px;
  height: 50px;
}

.WeGotABadassOverHere {
  background: url(sprite.png) -274px -52px no-repeat;
  display: block;
  width: 66px;
  height: 49px;
}

.WellDone {
  background: url(sprite.png) -645px -473px no-repeat;
  display: block;
  width: 48px;
  height: 48px;
}

.What {
  background: url(sprite.png) -495px 0px no-repeat;
  display: block;
  width: 48px;
  height: 50px;
}

.WhatHaveYouDone {
  background: url(sprite.png) -645px -523px no-repeat;
  display: block;
  width: 48px;
  height: 36px;
}

.WhatYouDidThere {
  background: url(sprite.png) -645px -561px no-repeat;
  display: block;
  width: 48px;
  height: 42px;
}

.WhatsAllThisRacket {
  background: url(sprite.png) -274px 0px no-repeat;
  display: block;
  width: 67px;
  height: 50px;
}

.Whut {
  background: url(sprite.png) -186px -568px no-repeat;
  display: block;
  width: 48px;
  height: 42px;
}

.WhyWithHands {
  background: url(sprite.png) 0px -618px no-repeat;
  display: block;
  width: 48px;
  height: 43px;
}

.WildWildWill {
  background: url(sprite.png) -695px 0px no-repeat;
  display: block;
  width: 48px;
  height: 47px;
}

.YUNO {
  background: url(sprite.png) -288px -467px no-repeat;
  display: block;
  width: 48px;
  height: 49px;
}

.YouDontSay {
  background: url(sprite.png) -695px -49px no-repeat;
  display: block;
  width: 48px;
  height: 34px;
}

.YouTheMan {
  background: url(sprite.png) -695px -85px no-repeat;
  display: block;
  width: 45px;
  height: 48px;
}

.bad_poker {
  background: url(sprite.png) -48px -311px no-repeat;
  display: block;
  width: 48px;
  height: 50px;
}

.sir {
  background: url(sprite.png) -155px -415px no-repeat;
  display: block;
  width: 47px;
  height: 50px;
}